{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block head %} {{ title }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form id="login"
                      {% if article %}
                      action="/api/addArticle/{{ article.0.id }}"
                      {% else %}
                      action="/api/addArticle/"
                      {% endif %}
                      class="animated slideInDown" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">文章标题</label>
                        <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="文章标题" value="{{ article.0.title }}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">文章内容</label>
                        <textarea class="form-control" name="content" id="exampleInputPassword1"
                                  placeholder="文章内容" >{{ article.0.content }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="articleClass">文章类别</label>
                        <select class="form-control" name="class_id" id="articleClass"
                                placeholder="文章内容">
                            <option value="">请选择</option>
                            {% for ele in articleClassList %}
                                <option {% ifequal article.0.class_id ele.id %} selected {% endifequal %} value="{{ ele.id }}">{{ ele.className }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">封面图片</label>
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="file" class="form-control" name="file" id="file" value="{{ article.0.imgage_url }}"/>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                        <div class="col-xs-8 text-danger">{{ error }}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
