{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block head %} {{ title }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center text-danger">{{ result.0.title }}</h3>
                <p class="text-center">{{ result.0.create_time }}</p>
                {% if result.0.image_url %}
                    <img class="cover" src="{{ result.0.image_url }}"/>
                {% else %}
                    <img class="cover" src="/static/image/load.jpg">
                {% endif %}
                <div class="article_detail text-info bg-success">
                    {% autoescape off %}
                        {{ result.0.content }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        {% include "addComment.html" %}
        {% include "commentList.html" %}
    </div>
{% endblock %}