
<div class="row">
    <h5>评论列表</h5>
    {% for ele in commList %}
    <div class="col-xs-12 col-xs-offest-1 comment_list">
        <div class="col-xs-12"> <hr/> </div>
        <div class="col-xs-2">
            <img class="comment_img" src="{{ ele.img_url }}"/>
            <p class="text-danger text-center">{{ ele.username }}</p>
        </div>
        <div class="col-xs-10">
            <p class="text-info text-right">评论日期:{{ ele.create_time }}</p>
            {% autoescape off %}
                {{ ele.content }}
            {% endautoescape %}
        </div>
    </div>
    {% endfor %}
    {% if not commList %}
        <div class="text-info text-center">
            <h5>暂无评论!</h5>
        </div>
    {% endif %}
</div>